* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*
.body {
 background: linear-gradient(50deg, #d1d5db , #fafafa 20px, #f4f4f5 20px);
}*/

ul {
  padding-left: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

ol {
  padding-left: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
  list-style-position: 'inside';
}

li {
  margin-bottom: 8px;
}